@model IEnumerable<WebDoan.Models.SANPHAM>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Images/haircut.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/Images/haircut.ico" rel="shortcut icon" type="image/x-icon" />

    <link href="~/Content/css/View-Products.css" rel="stylesheet" />
    <link href="~/Content/css/Global.css" rel="stylesheet" />
</head>
<body>
    <body>
        <section class="products">
            <div class="wrap-title">
                <div class="title"> </div>
                <span style="font-size: 1.7rem;">View Products</span>
            </div>
            <h2 class="title-big" style="font-family: 'Playfair Display', serif; font-size: 4rem;">All Products</h2>
            <div class="products-container">
                @foreach (var item in Model)
                {
                    <div class="box">
                        <div class="image-product">
                            <img src="@item.Hinh" alt="Hình lỗi">

                            <div class="icons">
                                <a href="@Url.Action("Detail", "product", new { id=item.MaSP})" class="fa-solid fa-eye"></a>
                                <a class="fa-solid fa-bag-shopping" href="@Url.Action("ThemGioHang", "GioHang", new { @id = item.MaSP, @strURL= Request.Url.ToString()})" onclick="return confirm('move to cart ')"></a>

                            </div>
                        </div>

                        <div class="content">
                            <h2>@item.TenSP</h2>
                            <span class="price">@item.Gia đ</span>
                        </div>
                    </div>

                }
            </div>
            <a style=" padding: 1rem 2rem; background: aqua; border-radius: 10px; text-decoration: none; color: black;" href="@Url.Action("Index","Footer")">Back to list</a>

        </section>
    </body>
