@model WebDoan.Models.PHIEUDAT

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookingSucces</title>
</head>
<body>
    <div style="text-align:center">
        <h2>@ViewBag.Message</h2>
        <p>Mã đặt phòng: @ViewBag.MaPD</p>
        <p>Tên khách hàng: @ViewBag.TenKH</p>
        <p>Số điện thoại: @ViewBag.SDT</p>
        @*<p>Tên nhân viên: @ViewBag.TenNV</p>*@
        <p>Thời gian tạo: @ViewBag.TGLAP</p>
        <p>Thời gian Hen: @ViewBag.TGHEN</p>
        @if (Model.TrangThaiPhieuDat == true)
        {
            <p>Thời gian Hen: <span>chưa xác nhận</span></p>

        }
        else
        {
            <p>Thời gian Hen: <span> xác nhận</span></p>

        }

        @*<p>Địa chỉ: @ViewBag.CHINHANH</p>*@
    <span>
        @Html.ActionLink("Trở Lại", "Index", "Footer")
    </span>
    </div>

</body>
</html>

<style>
    span a {
        color:black;
        text-decoration:none;
    }
</style>