@model WebDoan.Models.PHIEUDAT
@{
    Layout = null;
    <link href="~/Content/Images/haircut.ico" rel="shortcut icon" type="image/x-icon" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/booking.css" rel="stylesheet" />
    <link href="~/Content/css/Global.css" rel="stylesheet" />
</head>
<body>
    <section class="booking">
        <div class="wrap-title">
            <div class="title"> </div>
            <span>Booking</span>
        </div>
        <h2 class="title-big" style="font-family: 'Playfair Display', serif;">Make An Appointment.</h2>
        @using (Html.BeginForm("Index", "Booking", FormMethod.Post))
        {
            <div class="booking-input">
                <span>Tên khách hàng</span>
                @Html.TextBoxFor(model => model.TenKH, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Tên khách hàng" })
            </div>
            <span style="color:red">
                @ViewData["empty"]
            </span>

            <div class="booking-input">
                <span>số điện thoại</span>
                @Html.TextBoxFor(model => model.SDT, new { @class = "form-control", @autofocus = "autofocus", @id = "value-number", @placeholder = "Phone number" })
                <span style="color:red">
                    @ViewData["empty"]
                    @ViewData["sdt"]
                </span>
            </div>
            <div class="wrap-input">
                <div class="booking-input">
                    <span>Chọn nhân viên</span>
                    @Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NHANVIEN.MaNV, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="booking-input">
                <span>Ghi chú</span>
                @Html.TextBoxFor(model => model.GhiChu, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Ghi chú...." })
            </div>
          
            <div class="booking-input">
                <span>Chọn địa điểm</span>
                @Html.DropDownList("MaCN", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CHINHANH.MaCN, "", new { @class = "text-danger" })
            </div>
            <div class="wrap-input">
                <div class="booking-input">
                    <span>Chọn thời gian</span>
                    @Html.TextBoxFor(model => model.GioLamViec, new { @type = "Time", @class = "form-control", @autofocus = "autofocus", @id = "value-number", @placeholder = "Phone number" })
                    <span style="color:red">
                        @ViewData["error1"]
                        @ViewData["error"]
                    </span>
                </div>
                <div class="booking-input">
                    <span>Chọn ngày cắt </span>
                    @Html.TextBoxFor(model => model.ThoiGianHen, new { @type = "date", @class = "form-control", @autofocus = "autofocus", @id = "value-number", @placeholder = "Phone number", @min = DateTime.Today.ToString("yyyy-MM-dd") })
                    <span style="color:red">
                        @ViewData["error"]
                    </span>
                </div>
            </div>
            <input type="submit" class="btn-submit" value="Booking">
        }
        <a style="background:black; color:white; padding:1rem 2rem; border-radius:10px" href="@Url.Action("Index", "Footer")">Back to MainPage</a>
    </section>
</body>
</html>



<style>
    .booking form {
        padding: 2rem 0;
    }

    #ddlMaNV option[value="1"] {
        display: none;
    }
</style>