<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav nav-bar">
                <div class="sb-sidenav-menu-heading">Core</div>

                <a class="nav-link" href="@Url.Action("Index", "NhanVien")">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Trang Chủ
                </a>

                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="@Url.Action("Chat", "NhanVien")" data-bs-toggle="" data-bs-target="" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Chat
                </a>
                <hr />

                <a class="nav-link collapsed" href="@Url.Action("Index", "Combo")" data-bs-toggle="" data-bs-target="" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Combo
                </a>
                <hr />

                <a class="nav-link collapsed" href="@Url.Action("Index", "ChiNhanh")" data-bs-toggle="" data-bs-target="" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Chi nhánh
                </a>
                <hr />
                @*
        <a class="nav-link collapsed" href="@Url.Action("Index", "ChiTIetLichLV")" data-bs-toggle="" data-bs-target="" aria-expanded="false" aria-controls="collapseLayouts">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Lịch Làm Việc
        </a>*@
                <a class="nav-link collapsed" href="@Url.Action("Index", "ClientBooking")" data-bs-toggle="" data-bs-target="" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Booking
                </a>
                <hr />
                <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Sản phẩm
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>

                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("Index","LoaiSanPham")">Loại Sản phẩm</a>
                        <a class="nav-link" href="@Url.Action("Index", "SanPham")">sản phẩm</a>
                    </nav>
                </div>

                <hr />
                <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Dịch Vụ
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <hr />

                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="@Url.Action("LoaiDv","LoaiDV")">Loại Dịch Vụ</a>
                        <a class="nav-link" href="@Url.Action("Index", "DichVu")">Dịch vụ</a>
                    </nav>
                </div>
                <span href="#" hidden id="Hide">
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                        <div class="sb-nav-link-icon"><i class="fas fa-list-ul"></i></div>
                        Quản lý Nhân Viên
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                            <a class="nav-link collapsed" href="" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                Nhân Viên
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="@Url.Action("LstNhanVien", "NhanVien")">Danh Sách Nhân Viên</a>
                                </nav>
                            </div>
                            @*<div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="@Url.Action("Index", "Time")">Quản lí thời gian</a>
                        </nav>
                    </div>*@
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="401.html">401 Page</a>
                                    <a class="nav-link" href="404.html">404 Page</a>
                                    <a class="nav-link" href="500.html">500 Page</a>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </span>
                <div class="sb-sidenav-menu-heading">Addons</div>
            </div>
        </div>
       
        <div class="sb-sidenav-footer">
            <div class="small">
                @if (Session["TaiKhoan"] == null)
                {
                    <div class="sb-sidenav-footer">
                        <div class="small">Nhóm:</div>
                        Đồ Án Cơ Sở
                    </div>
                }
                else
                {
                    @Html.ActionLink("Đăng xuất", "Logout", "Admin/LoginAdmin", new { area = "" }, new { @class = "navbar-brand" })

                }
            </div>
        </div>

    </nav>
</div>

<script>
    var Phanquyen = document.getElementById('Hide');
    if ("@Session["CHucVU"]" == 1) {
        Phanquyen.hidden = false;
    }
</script>

