

@{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="~/Content/css/Mediaquery.css" rel="stylesheet" />

}


<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand ps-3" href="index.html">H | Lab</a>

    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" style="display:none" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        @if (Session["TaiKhoan"] == null)
        {
            @Html.ActionLink("Đăng nhập", "DangNhap", "Admin/LoginAdmin", new { area = "" }, new { @class = "navbar-brand" })
        }
        else if (Session["Account"].ToString() == "1")
        {
            @Html.ActionLink("Xin chào " + @Session["User"], "Edit", "Admin/NhanVien", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "navbar-brand" })
        }
        else
        {
            @Html.ActionLink("Xin chào " + @Session["User"], "Index", "Admin/NhanVien", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "navbar-brand" })
        }
    </form>
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class= "active nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @if (Session["TaiKhoan"] == null)
                {
                    <i class="fas fa-user fa-fw"></i>
                }
                else
                {
                    <img style="width: 50px; object-fit: cover; height: 50px; border-radius: 50px;" src="@Session["Image"]" alt="Alternate Text" />
                }
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li>
                    @if (Session["TaiKhoan"] == null)
                    {
                    }
                    else if (Session["Account"].Equals("Quản Lý"))
                    {
                        @Html.ActionLink("Xin chào " + @Session["User"], "LstNhanVien", "Admin/LstNhanVien", new { area = "", @id = Session["TaiKhoan"] }, new { @class = "hoverc navbar-brand dropdown-item " })
                    }
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    @Html.ActionLink("Đăng xuất", "Logout", "Admin/LoginAdmin", new { area = "" }, new { @class = "hoverc navbar-brand dropdown-item " })
                </li>
            </ul>
        </li>
        <a href="#" id="close"><i class="fas fa-window-close"></i></a>
    </ul>
    <div id="mobile">
        <i id="bar" class="fa-solid fa-bars"></i>
    </div>
</nav>

<style>
    .imgh {
        height: 150px;
        width: 150px;
        object-fit: cover;
        background: #dfdfdf;
    }  
</style>

