@model IEnumerable<WebDoan.Models.PHIEUDAT>

@{
    ViewBag.Title = "Index";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianHen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioLamViec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThaiPhieuDat)

        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianLap)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianHen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaCN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioLamViec)
    </td>

    <td>
        @if (item.TrangThaiPhieuDat == false)
        {
            <button type="button" onclick="location.href='@Url.Action("Confirm", "ClientBooking", new { id = item.MaPD })'" style="background-color: green; color: white; border: none; padding: 1rem 3.3rem; border-radius: 10px">Xác nhận đặt lịch</button>
        }
        else
        {
            <button type="button" onclick="location.href='@Url.Action("Confirm", "ClientBooking", new { id = item.MaPD })'" style="background-color: black; color: white; border: none; padding: 1rem 2rem; border-radius: 10px ">Chưa xác nhận Đặt lịch</button>
        }
    </td>

        @*
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaPD })
                @Html.ActionLink("Details", "Details", new { id = item.MaPD })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaPD })
            </td>
        *@
</tr>
    }
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
