@model IEnumerable<WebDoan.Models.PHIEUDAT>

@{
    ViewBag.Title = "Index";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianHen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaCN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioLamViec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThaiPhieuDat)

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianHen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioLamViec)
            </td>
            @if (@item.TrangThaiPhieuDat == false)
            {
                <td style="background-color:red">

                    @Html.DisplayFor(modelItem => item.TrangThaiPhieuDat)
                </td>
            }
            else
            {
                <td style="background-color:black">

                    @Html.DisplayFor(modelItem => item.TrangThaiPhieuDat)
                </td>
            }
            <td>
                @Html.ActionLink("Baams", "ClientBooking", "", "index", new { id = item.MaPD, @class = "btnUpdate" })
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaPD })
                @Html.ActionLink("Details", "Details", new { id = item.MaPD })
                @Html.ActionLink("Delete", "Delete", new { id = item.MaPD })
            </td>
        </tr>
    }
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(".btnUpdate").click(function () {
        var id = 11; // Id của bản ghi cần cập nhật, có thể thay đổi tùy theo yêu cầu
        $.ajax({
            url: "/API/UpdateBooleanValue",
            type: "POST",
            data: { 'id': id },
            success: function () {
                alert("Updated successfully!");
            }
        });
    });
</script>