@model IEnumerable<WebDoan.Models.PHIEUDAT>

@{
    ViewBag.Title = "Index";
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
           Mã nhân viên
        </th>
        <th>
            Thời gian lập phiếu
        </th>
        <th>
            Thời gian hẹn
        </th>
        <th>
           Mã chi nhánh
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
           Số điện thoại
        </th>
        <th>
            Giờ đăt
        </th>
        <th>
           Status
        </th>
        <th>
           Ghi chú
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaNV)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianLap)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ThoiGianHen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MaCN)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TenKH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SDT)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioLamViec)
    </td>
    <td>
        @if (item.TrangThaiPhieuDat == false)
        {
            <button type="button" onclick="location.href='@Url.Action("Confirm", "ClientBooking", new { id = item.MaPD })'" style="background-color: green; color: white; border: none; padding: 1rem 3.3rem; border-radius: 10px">Xác nhận đặt lịch</button>
        }
        else
        {
            <button type="button" onclick="location.href='@Url.Action("Confirm", "ClientBooking", new { id = item.MaPD })'" style="background-color: black; color: white; border: none; padding: 1rem 2rem; border-radius: 10px ">Chưa xác nhận Đặt lịch</button>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GhiChu)
    </td>
    @if (Session["TaiKhoanAdmin"] != null && Session["CHucVU1"].ToString() == "Quản Lý")
    {
        <td>
            @Html.ActionLink("Delete", "Delete", new { id = item.MaPD })
            @Html.ActionLink("Edit", "Edit", new { id = item.MaPD })
        </td>

    }
    else if (Session["TaiKhoanAdmin"] != null && Session["CHucVU1"].ToString() != "Quản Lý")
    {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MaPD })
            <span>đăng nhập bằng tài khoản admin để xóa</span>
        </td>
    }
    else
    {
        <td>
            <span>đăng nhập bằng tài khoản admin để xóa</span>
        </td>
    }
    @*@Html.ActionLink("Delete", "Delete", new { id = item.MaPD })*@
</tr>
    }
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
