@model IEnumerable<WebDoan.Models.Lich>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<span style="padding:1rem" class="button-24">
    @Html.ActionLink("Create New", "Create")
</span>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">

                    <table class="table user-list">
                        <thead>
                            <tr>
                                <th class="text-center text-capitalize"><span> mã Time</span></th>
                                <th class="text-center text-capitalize"><span> Thời gian </span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Time)
                                    </td>
                                    <td class="button-24 d-flex d-sm-flex d-lg-flex justify-content-center align-items-lg-center align-items-sm-center">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.MaTime })
                                            @Html.ActionLink("Details", "Detail", new { id = item.MaTime })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.MaTime })
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>     
<style>

    .styled-table {
        border-collapse: collapse;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }

    /* CSS */
    .button-24 a {
        text-decoration: none;
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        margin: 0 1rem;
    }

        .button-24 a:hover,
        .button-24 a:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
        }

        .button-24 a:active {
            opacity: .5;
        }

        .button-24 a:nth-child(2) {
            background: #198754;
            border: 1px solid #198754;
        }

            .button-24 a:nth-child(2):hover {
                color: #198754;
                Background: #fff;
            }

        .button-24 a:nth-child(1) {
            background: #0d6efd;
            border: 1px solid #0d6efd;
        }

            .button-24 a:nth-child(1):hover {
                color: #0d6efd;
                Background: #fff;
            }
</style>

