@model IEnumerable<WebDoan.Models.DonDatHang>


@{
    Layout = null;
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/Global.css">
    <link rel="stylesheet" href="~/Content/css/cart.css">

    <link href="~/Content/Images/haircut.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

<section class="cart">
    <div class="wrap-title">
        <div class="title"> </div>
        <span>Cart</span>
    </div>

    <h2 class="title-big" style="font-family: 'Playfair Display', serif; font-size: 4rem;">My Cart</h2>

    <div class="cart-container">
        <div class="cart-info">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="imgProduct-cart">
                        <img src="@item.SANPHAM.Hinh" width="180" />
                    </div>

                    <div class="infoProduct-cart">
                        <div class="flex-between">
                            <h2>@Html.DisplayFor(modelItem => item.SANPHAM.TenSP)</h2>
                            <span>@item.SANPHAM.Gia VNĐ</span><br />
                            <span>Type:@Html.DisplayFor(modelItem => item.MaSP)</span>
                        </div>
                        @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.SANPHAM.MaSP }))
                        {
                    <div class="custom-totalProduct">
                        <div class="total-curent">
                            Quantity:
                            <div class="button-total">
                                <input type="number" min="1" max="@item.SANPHAM.SoLuong" name="txtSolg" value="@item.SoLuong" />
                            </div>
                        </div>

                        <input style="margin:0 1rem" type="submit" value="Cập nhật" class="btn btn-success" />
                        @Html.ActionLink("Delete", "XoaGioHang", new { @id = item.MaSP })
                        <span class="edit" style="font-weight:bold;color:yellow;text-align:right">
                            @Html.ActionLink("Order Now", "DatHang", "GioHang")
                        </span>
                    </div>
                        }
                        <span class="edit">Type: @ViewBag.Tongsoluongsanpham</span>
                        <span class="edit">Quantity: @ViewBag.Tongsoluong</span>
                        <span class="edit">amount: @ViewBag.Tongtien VNĐ</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <p style="text-align:center">
        @Html.ActionLink("Về Trang Chủ", "Index", "Footer", "", new { @class = "btn btn-success", @style = "padding:1rem" })
    </p>
</section>

<style>
    .edit, .edit-2 {
        font-size:1.5rem;
        margin:1rem 1rem;
    }

    .edit-2 a  {
        color:red;
    }


    .custom-totalProduct .edit a {
        color: green;
        background: #c5f0bd;
        padding: 1rem 2rem;
        border-radius: 22px;
    }

        .custom-totalProduct .edit a:hover {
            background: green;
            color: white;
        }


    .custom-totalProduct a {
        background: #dba3a3;
        color: black;
        padding: 1rem 2rem;
        border-radius: 22px;
    }

    .custom-totalProduct a:hover {
        background: Red;
        color: white;
    }
</style>
