@model IEnumerable<WebDoan.Models.DonDatHang>


@{
    Layout = null;
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/Global.css">
    <link rel="stylesheet" href="~/Content/css/cart.css">

    <link href="~/Content/Images/haircut.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@*<h2>GioHang</h2>
    <table class="table">
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Hình
            </th>
            <th>
                Giá
            </th>
            <th>
                Số Lượng
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    <img src="@item.SANPHAM.Hinh" width="180" />
                </td>
                @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.SANPHAM.MaSP }))
                {
                    <td>@item.SANPHAM.Gia VNĐ</td>
                    <td><input type="number" min="1" max="@item.SANPHAM.SoLuong" name="txtSolg" value="@item.SoLuong" /></td>
                    <td>@Html.DisplayFor(modelItem => item.ThanhTien)</td>
                    <td>
                        <a style="text-decoration:none; font-size:1.5rem; color:#000" href="@Url.Action("Detail", "MainPage", new {id = item.MaSP})">Chi tiết</a>
                        |
                    </td>
                    <td><input type="submit" value="Cập nhật" class="btn btn-success" /></td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.ThanhTien)
                </td>
            </tr>
        }
        <tr style="font-weight:bold; text-align:left;color:red">
            <td colspan="2">Số loại Sp: @ViewBag.Tongsoluongsanpham</td>
            <td colspan="2">Số lượng Sp: @ViewBag.Tongsoluong</td>
            <td colspan="4">Tổng tiền: @ViewBag.Tongtien VNĐ</td>
        </tr>

        <tr style="font-weight:bold;color:blue;text-align:right">
            <td colspan="5">
                @Html.ActionLink("Xoá giỏ hàng", "XoaTatCaGioHang")
            </td>
        </tr>

        <tr style="font-weight:bold;color:yellow;text-align:right">
            <td colspan="5">
                @Html.ActionLink("Đặt hàng", "DatHang", "GioHang")
            </td>
        </tr>

    </table>*@

<section class="cart">
    <div class="wrap-title">
        <div class="title"> </div>
        <span>Cart</span>
    </div>

    <h2 class="title-big" style="font-family: 'Playfair Display', serif; font-size: 4rem;">My Cart</h2>

    <div class="cart-container">
        <div class="cart-info">
            @foreach (var item in Model)
            {
                <div class="box">
                    <div class="imgProduct-cart">
                        <img src="@item.SANPHAM.Hinh" width="180" />
                    </div>

                    <div class="infoProduct-cart">
                        <div class="flex-between">
                            <h2>@Html.DisplayFor(modelItem => item.SANPHAM.TenSP)</h2>
                            <span>@item.SANPHAM.Gia VNĐ</span><br />
                            <span>Type:@Html.DisplayFor(modelItem => item.MaSP)</span>
                        </div>
                        @using (Html.BeginForm("CapnhatGiohang", "GioHang", new { @id = item.SANPHAM.MaSP }))
                        {
                            <div class="custom-totalProduct">
                                <div class="total-curent">
                                    Số lượng:
                                    <div class="button-total">
                                        <input type="number" min="1" max="@item.SANPHAM.SoLuong" name="txtSolg" value="@item.SoLuong" />
                                    </div>
                                </div>

                                <input style="margin:0 1rem" type="submit" value="Cập nhật" class="btn btn-success" />
                                @Html.ActionLink("Xoá", "XoaGioHang", new { @id = item.MaSP })
                            </div>
                        }
                        <span class="edit">Type: @ViewBag.Tongsoluongsanpham</span>
                        <span class="edit">Quantity: @ViewBag.Tongsoluong</span>
                        <span class="edit">amount: @ViewBag.Tongtien VNĐ</span>
                        

                        <span class="edit" style="font-weight:bold;color:yellow;text-align:right">
                            @Html.ActionLink("Order Now", "DatHang", "GioHang")
                        </span>
                    </div>
                </div>
            }
        </div>
    </div>
    <p style="text-align:center">
        @Html.ActionLink("Về Trang Chủ", "Index", "Footer", "", new { @class = "btn btn-success", @style = "padding:1rem" })
    </p>
</section>

<style>
    .edit, .edit-2 {
        font-size:1.5rem;
        margin:1rem 1rem;
    }

    .edit-2 a  {
        color:red;
    }


    .edit a {
        color: green;
    }
</style>
