@*@model WebDoan.Models.CTLLV

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="wrappres">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="wrapper-inner">
        Mã Lịch
        <div class="inner col-md-10">*@
            @*@Html.EditorFor(model => model.MaLich, new { htmlAttributes = new { @class = "" } })*@
            @*@Html.ValidationMessageFor(model => model.MaLich, "", new { @class = "text-danger" })*@
            @*@Html.DropDownList("MaLich", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.MaLich, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="wrapper-inner">
        Nhân Viên
        <div class="inner col-md-10">*@
           @* @Html.EditorFor(model => model.MaNV, new { htmlAttributes = new { @class = "" } })*@
            @*@Html.ValidationMessageFor(model => model.MaNV, "", new { @class = "text-danger" })*@
            @*@Html.DropDownList("MaNV", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.NHANVIEN.TenNV, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="inner">
        <div style=" text-align: left; margin: 0 1rem;" class="col-md-offset-2 col-md-10">
            <input style=" width: 10%; margin: 1rem 0;" type="submit" value="Create" class="btn btn-success" />
        </div>
    </div>
</div>
}
<div class="m-2">
    <butotn class="button-86">
        @Html.ActionLink("Back to List", "Index")
    </butotn>
</div>
<style>
    .wrapper-inner {
        margin: 1rem 0;
    }

    .inner {
        width: 100%;
    }

    .wrappres {
        text-align: center;
    }

    img {
        text-align: center;
        border-radius: 10px;
    }

    .button-86 {
        margin: 1rem 0;
        all: unset;
        width: 100px;
        height: 30px;
        font-size: 16px;
        background: transparent;
        border: none;
        position: relative;
        color: #f0f0f0;
        cursor: pointer;
        z-index: 1;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-86 a {
            color: #fff;
            text-decoration: none;
        }

        .button-86::after,
        .button-86::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -99999;
            transition: all .4s;
        }

        .button-86::before {
            transform: translate(0%, 0%);
            width: 100%;
            height: 100%;
            background: #28282d;
            border-radius: 10px;
        }

        .button-86::after {
            transform: translate(10px, 10px);
            width: 35px;
            height: 35px;
            background: #ffffff15;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border-radius: 50px;
        }

        .button-86:hover::before {
            transform: translate(5%, 20%);
            width: 110%;
            height: 110%;
        }

        .button-86:hover::after {
            border-radius: 10px;
            transform: translate(0, 0);
            width: 100%;
            height: 100%;
        }

        .button-86:active::after {
            transition: 0s;
            transform: translate(0, 5%);
        }

    input {
        width: 37%;
        border-radius: 10px;
        padding: 0.5rem 0.5rem;
    }
</style>*@
